<main>
  <div class="background">
    <div class="container">
      <h1 id="title">Ruby Racer 2.0</h1>
      <h2 id="title">Welcome players!</h2>
    </div>
  </div>

  <div class="instructions">
    <h3>Instructions:</h3>
    <p>Player A needs to press key "S" to advance. Player B needs to press key "K" to advance. Happy playing!</p>
  </div>
    <table class="racer_table">
      <tr id="playera_strip">
        <th>Player A</th>
        <td></td>
        <td id="player-a" class="active"></td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
      </tr>
      <br>
      <tr id="playerb_strip">
        <th>Player B</th>
        <td></td>
        <td id="player-b" class="active"></td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
      </tr>
    </table>
    <form id="restart">
      <button id="restart-button" type="Button">Restart Game</button>
    </form>
</main>
